.sex{
    font-weight: normal;
    font-size: 14px;
}

#add-disease-back-btn{
    float: right;
    margin-right:50px;
}
.find-diseaseinfo-by-type-box{
    display: flex;
}

#find-by-disease-btn{
    background: #3bb4f2;
    font-size: 12px;
    width: 100px;
}

.disease-list-total{
    margin-left: 20px;
    color: #32c5d2;
    font-weight: 600;
    font-size: 14px;
}

.choose-care{
    display: flex;

}

.choose-care li{
    margin: 2px;
    padding:5px 7px;
    background: skyblue;
    font-size: 14px;
    color: #ffffff;
}
.choose-care li:nth-child(1){
    background: #0e90d2;
}

#histroy-medicine{
    display: none;
}
#yaodian{
    display: block;
}
#yaodian #yaodian-mask{
    position: fixed;
    left: 0;
    right: 0;
    top: -100px;
    bottom: 0;
    margin:auto;
    width: 100vw;
    height: 120vh;
    background: #333333;
    opacity: 0.5;
    z-index: 9999;
}

#yaodian #yaodian-content{
    width: 600px;
    height: 400px;
    background: #ffffff;
    z-index: 99999;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin:auto;
}

#yaodian #yaodian-content .input-inline{
    margin: 20px auto!important;
}

.choose-btn{
    padding:5px 10px;
    color: #ffffff;
    background: #e4393c;
}

#allergy-select{
    width: 200px;
    float: left;
}
#allergy-select-item{
    width: 150px!important;
    float: left;
}

#selected-allergy{
    display: flex;
}
#selected-allergy li{
    padding: 3px 8px;
    background: skyblue;
    color: #ffffff;
    margin-right: 9px;
}