<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Amaze UI Admin index Examples</title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="icon" type="image/png" href="assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <link rel="stylesheet" href="assets/css/amazeui.min.css"/>
    <link rel="stylesheet" href="assets/css/admin.css">
    <link rel="stylesheet" href="assets/css/app.css">
    <link rel="stylesheet" href="assets/css/disease.css">
</head>

<body data-type="generalComponents" onload="init()">


<header class="am-topbar am-topbar-inverse admin-header">
    <div class="am-topbar-brand">
        <a href="javascript:;" class="tpl-logo">
            <img src="assets/img/logo.jpg" alt="">
        </a>
    </div>
    <div class="am-icon-list tpl-header-nav-hover-ico am-fl am-margin-right">

    </div>

    <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only"
            data-am-collapse="{target: '#topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span
            class="am-icon-bars"></span></button>

    <div class="am-collapse am-topbar-collapse" id="topbar-collapse">

        <ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list tpl-header-list">
            <li class="am-dropdown" data-am-dropdown data-am-dropdown-toggle>
                <a class="am-dropdown-toggle tpl-header-list-link" href="javascript:;">
                    <span class="am-icon-bell-o"></span> 提醒 <span
                        class="am-badge tpl-badge-success am-round">5</span></span>
                </a>
                <ul class="am-dropdown-content tpl-dropdown-content">
                    <li class="tpl-dropdown-content-external">
                        <h3>你有 <span class="tpl-color-success">5</span> 条提醒</h3><a href="###">全部</a></li>
                    <li class="tpl-dropdown-list-bdbc"><a href="#" class="tpl-dropdown-list-fl"><span
                            class="am-icon-btn am-icon-plus tpl-dropdown-ico-btn-size tpl-badge-success"></span>
                        【开会通知】你今天下午17:00有场会议</a>
                        <span class="tpl-dropdown-list-fr">12分钟前</span>
                    </li>
                    <li class="tpl-dropdown-list-bdbc"><a href="#" class="tpl-dropdown-list-fl"><span
                            class="am-icon-btn am-icon-check tpl-dropdown-ico-btn-size tpl-badge-danger"></span>
                        【预约通知】张小姐取消了与你的预约</a>
                        <span class="tpl-dropdown-list-fr">15分钟前</span>
                    </li>
                    <li class="tpl-dropdown-list-bdbc"><a href="#" class="tpl-dropdown-list-fl"><span
                            class="am-icon-btn am-icon-bell-o tpl-dropdown-ico-btn-size tpl-badge-warning"></span>
                        【病患消息】胡大大给你私发了一条消息</a>
                        <span class="tpl-dropdown-list-fr">2天前</span>
                    </li>
                </ul>
            </li>
            <li class="am-dropdown" data-am-dropdown data-am-dropdown-toggle>
                <a class="am-dropdown-toggle tpl-header-list-link" href="javascript:;">
                    <span class="am-icon-comment-o"></span> 消息 <span
                        class="am-badge tpl-badge-danger am-round">9</span></span>
                </a>
                <ul class="am-dropdown-content tpl-dropdown-content">
                    <li class="tpl-dropdown-content-external">
                        <h3>你新增了 <span class="tpl-color-danger">2</span> 个预约消息</h3><a href="###">全部</a></li>
                    <li>
                        <a href="#" class="tpl-dropdown-content-message">
                                <span class="tpl-dropdown-content-photo">
                      <img src="assets/img/user02.png" alt=""> </span>
                            <span class="tpl-dropdown-content-subject">
                      <span class="tpl-dropdown-content-from"> 胡一天 </span>
                                <span class="tpl-dropdown-content-time">10分钟前 </span>
                                </span>
                            <span class="tpl-dropdown-content-font"> 抑郁症 </span>
                        </a>
                        <a href="#" class="tpl-dropdown-content-message">
                                <span class="tpl-dropdown-content-photo">
                      <img src="assets/img/user03.png" alt=""> </span>
                            <span class="tpl-dropdown-content-subject">
                      <span class="tpl-dropdown-content-from"> Steam </span>
                                <span class="tpl-dropdown-content-time">18分钟前</span>
                                </span>
                            <span class="tpl-dropdown-content-font"> 密集恐惧症 </span>
                        </a>
                    </li>

                </ul>
            </li>
            <li class="am-hide-sm-only"><a href="javascript:;" id="admin-fullscreen" class="tpl-header-list-link"><span
                    class="am-icon-arrows-alt"></span> <span class="admin-fullText">开启全屏</span></a></li>

            <li class="am-dropdown" data-am-dropdown data-am-dropdown-toggle>
                <a class="am-dropdown-toggle tpl-header-list-link" href="javascript:;">
                    <span id="admin-name" class="tpl-header-list-user-nick">覃医生</span><span class="tpl-header-list-user-ico"> <img
                        src="assets/img/user01.png"></span>
                </a>
                <ul class="am-dropdown-content">
                    <li><a href="#"><span class="am-icon-bell-o"></span> 资料</a></li>
                    <li><a href="#"><span class="am-icon-cog"></span> 设置</a></li>
                    <li><a href="./login.html"><span class="am-icon-power-off"></span> 退出</a></li>
                </ul>
            </li>
            <li><a href="./login.html" class="tpl-header-list-link"><span
                    class="am-icon-sign-out tpl-header-list-ico-out-size"></span></a></li>
        </ul>
    </div>
</header>

<div class="tpl-page-container tpl-page-header-fixed">
    <div class="tpl-left-nav tpl-left-nav-hover">
        <div class="tpl-left-nav-title">
            信息管理
        </div>
        <div class="tpl-left-nav-list">
            <ul class="tpl-left-nav-menu">
                <li class="tpl-left-nav-item">
                    <a href="index.html" class="nav-link">
                        <i class="am-icon-home"></i>
                        <span>首页</span>
                    </a>
                </li>
                <li class="tpl-left-nav-item">
                    <a href="javascript:;" class="nav-link tpl-left-nav-link-list active">
                        <i class="am-icon-bar-chart"></i>
                        <span>病患信息</span>
                        <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right"></i>
                    </a>
                    <ul class="tpl-left-nav-sub-menu" style="display: block;">
                        <li>
                            <a href="disease-info.html">
                                <i class="am-icon-angle-right"></i>
                                <span>病患信息</span>
                                <i class="am-icon-star tpl-left-nav-content-ico am-fr am-margin-right"></i>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="tpl-left-nav-item">
                    <a href="javascript:;" class="nav-link tpl-left-nav-link-list">
                        <i class="am-icon-wpforms"></i>
                        <span>药品信息</span>
                        <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right tpl-left-nav-more-ico-rotate"></i>
                    </a>
                    <ul class="tpl-left-nav-sub-menu">
                        <li>
                            <a href="medicinal-manage.html">
                                <i class="am-icon-angle-right"></i>
                                <span>药典管理</span>
                                <i class="tpl-left-nav-content tpl-badge-success">
                                    18
                                </i>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="tpl-left-nav-item" id="admin-manage">
                    <a href="admin.html" class="nav-link tpl-left-nav-link-list">
                        <i class="am-icon-cog"></i>
                        <span>普通管理员管理</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="tpl-content-wrapper">

        <div class="tpl-portlet-components" id="disease-manage">
            <div class="portlet-title">
                <div class="caption font-green bold">
                    <span class="am-icon-code"></span> 病患信息管理
                </div>
                <div class="tpl-portlet-input tpl-fz-ml">
                    <div class="portlet-input input-small input-inline">
                        <div class="input-icon right">
                            <i class="am-icon-search" id="find-disease-id-btn"></i>
                            <input type="text" class="form-control form-control-solid" placeholder="根据身份证号查找病患信息...">
                        </div>
                    </div>
                </div>
            </div>
            <div class="tpl-block">
                <div class="am-g">
                    <div class="am-u-sm-12 am-u-md-6">
                        <div class="am-btn-toolbar">
                            <div class="am-btn-group am-btn-group-xs">
                                <button id="new-add-disease" type="button" class="am-btn am-btn-default am-btn-success"><span
                                        class="am-icon-plus"></span> 新增
                                </button>
                                <button id="find-by-disease-all-btn" type="button" class="am-btn am-btn-default am-btn-secondary"><span
                                        class="am-icon-search"></span> 查找所有
                                </button>

                                <button id="more-remove" type="button" class="am-btn am-btn-default am-btn-danger"><span
                                        class="am-icon-trash-o"></span> 批量删除
                                </button>
                                <span class="disease-list-total"></span>
                            </div>
                        </div>
                    </div>
                    <div class="am-u-sm-12 am-u-md-3">
                        <div class="am-form-group find-diseaseinfo-by-type-box">
                            <select data-am-selected="{btnSize: 'sm'}" class="find-diseaseinfo-by-type">
                                <option value="1">其他类别</option>
                                <option value="2">感觉障碍</option>
                                <option value="3">知觉障碍</option>
                                <option value="4">注意障碍</option>
                                <option value="5">记忆障碍</option>
                                <option value="6">思维障碍</option>
                                <option value="7">情感障碍</option>
                                <option value="8">意志障碍</option>
                                <option value="9">行为障碍</option>
                                <option value="10">意识障碍</option>
                                <option value="11">智力障碍</option>
                                <option value="12">人格障碍</option>
                            </select>
                            <button id="find-by-disease-btn" type="button" class="am-btn am-btn-default am-btn-secondary">
                                <span class="am-icon-search"></span>
                                查找该类别
                            </button>
                        </div>

                    </div>
                </div>
                <div class="am-g">
                    <div class="am-u-sm-12">
                        <div class="am-form">
                            <table class="am-table am-table-striped am-table-hover table-main">
                                <thead>
                                <tr>
                                    <th class="table-check"><input id="all-checkbok" type="checkbox" class="tpl-table-fz-check"></th>
                                    <th class="table-id">序号</th>
                                    <th class="table-type">身份证号</th>
                                    <th class="table-title">姓名</th>
                                    <th class="table-author am-hide-sm-only">类别</th>
                                    <th class="table-date am-hide-sm-only">上次开药日期</th>
                                    <th class="table-date am-hide-sm-only">过敏药</th>
                                    <th class="table-set">操作</th>
                                </tr>
                                </thead>
                                <tbody id="diseaseList">


                                </tbody>
                            </table>
                            <div class="am-cf">
                                <div class="am-fr">
                                    <ul class="am-pagination tpl-pagination page">
                                    </ul>
                                </div>
                            </div>
                            <hr />
                        </div>
                    </div>

                </div>
            </div>
            <div class="tpl-alert"></div>
        </div>

        <!--新增病患信息-->
        <div class="tpl-portlet-components" id="add-disease">
            <div class="portlet-title">
                <div class="caption font-green bold">
                    <span class="am-icon-code"></span> 新增病患信息
                </div>
                <button id="add-disease-back-btn" type="button" class="am-btn am-btn-secondary">返回</button>
            </div>
            <div class="tpl-block ">
                <div class="am-g tpl-amazeui-form">
                    <div class="am-u-sm-12 am-u-md-9">
                        <form class="am-form am-form-horizontal">
                            <div class="am-form-group">
                                <label for="add-user-name" class="am-u-sm-3 am-form-label">姓名 / Name</label>
                                <div class="am-u-sm-9">
                                    <input type="text" id="add-user-name" placeholder="姓名 / Name">
                                </div>
                            </div>

                            <div class="am-form-group">
                                <label for="add-user-id" class="am-u-sm-3 am-form-label">身份证号 / ID Care</label>
                                <div class="am-u-sm-9">
                                    <input type="text" id="add-user-id" placeholder="输入身份证号 / ID Care">
                                </div>
                            </div>

                            <div class="am-form-group">
                                <label for="add-user-phone" class="am-u-sm-3 am-form-label">电话 / Telephone</label>
                                <div class="am-u-sm-9">
                                    <input type="tel" id="add-user-phone" placeholder="输入电话号码 / Telephone">
                                </div>
                            </div>

                            <div class="am-form-group">
                                <label for="add-user-sex" class="am-u-sm-3 am-form-label">性别 / Sex</label>
                                <div class="am-u-sm-9 sex-box">
                                    <input class="sex-radio" type="radio" id="add-user-sex-male" name="sex" value="1" checked/>
                                    <label for="add-user-sex-male" class="sex">男</label>
                                    <input class="sex-radio" type="radio" id="add-user-sex-female" name="sex" value="0"/>
                                    <label class="sex" for="add-user-sex-female">女</label>
                                </div>
                            </div>

                            <div class="am-form-group">
                                <label for="add-user-day" class="am-u-sm-3 am-form-label">出生年月日 / Birthday</label>
                                <div class="am-u-sm-9">
                                    <input type="Date" id="add-user-day" >
                                </div>
                            </div>

                            <div class="am-form-group">
                                <label for="add-user-job" class="am-u-sm-3 am-form-label">职业 / Job</label>
                                <div class="am-u-sm-9">
                                    <input type="text" id="add-user-job" placeholder="输入职业 / Job">
                                </div>
                            </div>


                            <div class="am-form-group">
                                <label for="user-QQ" class="am-u-sm-3 am-form-label">所属类别 / Type</label>
                                <div class="am-u-sm-9">
                                    <div class="am-form-group">
                                        <select data-am-selected="{btnSize: 'sm'}" class="select-disease-type">
                                            <option value="1">其他类别</option>
                                            <option value="2">感觉障碍</option>
                                            <option value="3">知觉障碍</option>
                                            <option value="4">注意障碍</option>
                                            <option value="5">记忆障碍</option>
                                            <option value="6">思维障碍</option>
                                            <option value="7">情感障碍</option>
                                            <option value="8">意志障碍</option>
                                            <option value="9">行为障碍</option>
                                            <option value="10">意识障碍</option>
                                            <option value="11">智力障碍</option>
                                            <option value="12">人格障碍</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="am-form-group">
                                <label for="add-allergy-drugs" class="am-u-sm-3 am-form-label">过敏药物 / Allergy drugs</label>
                                <div class="am-u-sm-9">
                                    <select id="allergy-select" size=1 onchange="getMedicine()">
                                        <option value= "0" >无</option>
                                        <option value= "1" >抗生素类药物</option>
                                        <option value= "2" >磺胺类药物</option>
                                        <option value= "3" >镇静安眠药</option>
                                        <option value= "4" >解热镇痛药</option>
                                        <option value= "5" >麻醉用药</option>
                                        <option value= "6" >血清制剂</option>
                                        <option value= "7" >疫苗</option>
                                        <option value= "8" >某些中草药</option>
                                    </select>
                                    <select id="allergy-select-item" onblur="saveMedicine()" >
                                    </select>
                                </div>
                                <div class="am-u-sm-9">
                                    <h6>已选择的过敏药物</h6>
                                    <ul id="selected-allergy">

                                    </ul>
                                </div>

                            </div>




                                <div class="am-form-group">
                                <div class="am-u-sm-9 am-u-sm-push-3">
                                    <button id="add-disease-btn" type="button" class="am-btn am-btn-primary">保存</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>

        <!--修改病患信息-->
        <div class="tpl-portlet-components" id="update-disease">
            <div class="portlet-title">
                <div class="caption font-green bold">
                    <span class="am-icon-code"></span> 病患信息
                </div>
            </div>
            <div class="tpl-block ">
                <div class="am-g tpl-amazeui-form">
                    <div class="am-u-sm-12 am-u-md-9">
                        <div class="am-form am-form-horizontal">
                            <div class="am-form-group">
                                <label for="update-disease-name" class="am-u-sm-3 am-form-label">姓名 / Name</label>
                                <div class="am-u-sm-9">
                                    <input type="text" id="update-disease-name" placeholder="姓名 / Name">
                                </div>
                            </div>

                            <div class="am-form-group">
                                <label for="update-disease-id" class="am-u-sm-3 am-form-label">身份证号 / ID Care</label>
                                <div class="am-u-sm-9">
                                    <input type="text" id="update-disease-id" placeholder="输入身份证号 / ID Care">
                                </div>
                            </div>

                            <div class="am-form-group">
                                <label for="update-disease-phone" class="am-u-sm-3 am-form-label">电话 / Telephone</label>
                                <div class="am-u-sm-9">
                                    <input type="tel" id="update-disease-phone" placeholder="输入电话号码 / Telephone">
                                </div>
                            </div>

                            <div class="am-form-group">
                                <label for="add-disease-sex" class="am-u-sm-3 am-form-label">性别 / Sex</label>
                                <div class="am-u-sm-9 sex-box">
                                    <input class="sex-radio" type="radio" id="update-user-sex-male" name="sex" value="1" checked/>
                                    <label for="add-user-sex-male" class="sex">男</label>
                                    <input class="sex-radio" type="radio" id="update-user-sex-female" name="sex" value="0"/>
                                    <label class="sex" for="add-user-sex-female">女</label>
                                </div>
                            </div>

                            <div class="am-form-group">
                                <label for="update-disease-day" class="am-u-sm-3 am-form-label">出生年月日 / Birthday</label>
                                <div class="am-u-sm-9">
                                    <input type="Date" id="update-disease-day" >
                                </div>
                            </div>

                            <div class="am-form-group">
                                <label for="update-disease-job" class="am-u-sm-3 am-form-label">职业 / Job</label>
                                <div class="am-u-sm-9">
                                    <input type="text" id="update-disease-job" placeholder="输入职业 / Job">
                                </div>
                            </div>

                            <div class="am-form-group">
                                <label for="user-QQ" class="am-u-sm-3 am-form-label">所属类别 / Type</label>
                                <div class="am-u-sm-9">
                                    <div class="am-form-group">
                                        <select data-am-selected="{btnSize: 'sm'}" id="select-update-disease-type">
                                            <option value="1">其他类别</option>
                                            <option value="2">感觉障碍</option>
                                            <option value="3">知觉障碍</option>
                                            <option value="4">注意障碍</option>
                                            <option value="5">记忆障碍</option>
                                            <option value="6">思维障碍</option>
                                            <option value="7">情感障碍</option>
                                            <option value="8">意志障碍</option>
                                            <option value="9">行为障碍</option>
                                            <option value="10">意识障碍</option>
                                            <option value="11">智力障碍</option>
                                            <option value="12">人格障碍</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="am-form-group">
                                <label for="update-allergy-drugs" class="am-u-sm-3 am-form-label">过敏药物 / Allergy drugs</label>
                                <div class="am-u-sm-9">
                                    <textarea class="" rows="3" id="update-allergy-drugs" placeholder="输入病患的过敏药物"></textarea>

                                </div>
                            </div>

                            <div class="am-form-group">
                                <label for="allergy-drugs1" class="am-u-sm-3 am-form-label"> 治疗方案/ Treatment plan</label>
                                <div class="am-u-sm-9">
                                    <textarea class="" rows="3" id="allergy-drugs1" placeholder="治疗方案"></textarea>
                                </div>
                            </div>

                            <div class="am-form-group">
                                <label for="user-intro" class="am-u-sm-3 am-form-label">开药 / Prescribing drugs</label>
                                <div class="am-u-sm-9">
                                    <ul class="choose-care">
                                        <li data-value="1">新药</li>
                                        <li data-value="2">历史药物</li>
                                        <li data-value="3">药典</li>
                                    </ul>
                                    <div>
                                        <div id="yaodian">
                                            <div id="yaodian-mask"></div>
                                            <div id="yaodian-content">
                                                <div class="tpl-fz-ml">
                                                    <div class="portlet-input input-small input-inline">
                                                        <div class="input-icon center">
                                                            <i class="am-icon-search" onclick="searchFindByKw()"></i>
                                                            <input id="find-medicine-name-btn" type="text" class="form-control form-control-solid" placeholder="查找药典信息..." onkeyup="selectMedicineInfo()" onblur="hideFindResByKw()">
                                                        </div>
                                                        <ul class="find-res"></ul>
                                                        <table class="user-choose-res am-u-sm-9 am-table am-table-striped am-table-hover table-main">
                                                            <tbody>

                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <h5>已选择的药物：</h5>
                                                    <table class="am-u-sm-9 am-table am-table-striped am-table-hover table-main">
                                                        <tbody class="chooseCureDiseaseList">

                                                        </tbody>
                                                    </table>
                                                </div>



                                            </div>
                                        </div>
                                        <div id="histroy-medicine">
                                            <div class="edit-history-box">
                                                <div class="edit-history-mask"></div>
                                                <div class="edit-history-content">
                                                    <h6>你选择的药物为：</h6>
                                                    <div>
                                                        <p>
                                                            <span id="history-medicine-name"></span>
                                                            <input id="history-medicine-num" type="number" placeholder="数量...">
                                                        </p>
                                                        <div>
                                                            <input type="button" value="返回" id="goback-choose-edit-histroy">
                                                            <input type="button" value="选择" id="choose-edit-histroy">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <table class="am-u-sm-9 am-table am-table-striped am-table-hover table-main">
                                                <thead>
                                                <tr>
                                                    <th class="table-type">序号</th>
                                                    <th class="table-type">药名</th>
                                                    <th class="table-title">数量</th>
                                                    <th class="table-set">操作</th>
                                                </tr>
                                                </thead>
                                                <tbody id="histroy-cureDiseaseList">
                                                </tbody>
                                            </table>
                                        </div>
                                        <div id="new-medicine">
                                            <table class="am-u-sm-9 am-table am-table-striped am-table-hover table-main">
                                                <thead>
                                                <tr>
                                                    <th class="table-type">序号</th>
                                                    <th class="table-type">药名</th>
                                                    <th class="table-title">数量</th>
                                                    <th class="table-set">操作</th>
                                                </tr>
                                                </thead>
                                                <tbody id="cureDiseaseList">
                                                <tr>
                                                    <td>1</td>
                                                    <td><input id="choose-new-medicine-name" class="checkbox-item" type="text" value=""></td>
                                                    <td><input id="choose-new-medicine-num" type="number" min="0" value="1"></td>
                                                    <td>
                                                        <button id="choose-new-medicine-btn" class="am-btn am-btn-default am-btn-xs am-text-success am-hide-sm-only">选择</button>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                            <h5>已选择的药物：</h5>
                                            <table class="am-u-sm-9 am-table am-table-striped am-table-hover table-main">
                                                <thead>
                                                <tr>
                                                    <th class="table-type">序号</th>
                                                    <th class="table-type">药名</th>
                                                    <th class="table-title">数量</th>
                                                    <th class="table-set">操作</th>
                                                </tr>
                                                </thead>
                                                <tbody class="chooseCureDiseaseList">

                                                </tbody>
                                            </table>
                                            <button id="confirmOpenMedicine" type="button" class="am-btn am-btn-primary">确认开药</button>


                                        </div>
                                    </div>



                                </div>


                            <div class="am-form-group">
                                <div class="am-u-sm-9 am-u-sm-push-3">

                                </div>
                            </div>

                            <div class="am-form-group">
                                <div class="am-u-sm-9 am-u-sm-push-3">
                                    <button type="button" class="am-btn am-btn-primary" id="seve-prescribing-drugs-btn">提交</button>
                                    <button id="see-diseasei-info-back" type="button" class="am-btn am-btn-secondary">返回</button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>


<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/amazeui.min.js"></script>
<script src="assets/js/app.js"></script>
<script src="assets/js/jquery.cookie.js"></script>
<script src="assets/js/myjs/common.js"></script>
<script src="assets/js/myjs/disease.js"></script>
</body>

</html>