<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>登录-心理健康治疗系统之开处方系统</title>
  <meta name="description" content="这是一个 index 页面">
  <meta name="keywords" content="index">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="icon" type="image/png" href="assets/i/favicon.png">
  <link rel="apple-touch-icon-precomposed" href="assets/i/app-icon72x72@2x.png">
  <meta name="apple-mobile-web-app-title" content="Amaze UI" />
  <link rel="stylesheet" href="assets/css/amazeui.min.css" />
  <link rel="stylesheet" href="assets/css/admin.css">
  <link rel="stylesheet" href="assets/css/app.css">
</head>

<body data-type="login">

  <div class="am-g myapp-login">
	<div class="myapp-login-logo-block  tpl-login-max">
		<div class="myapp-login-logo-text">
			<div class="myapp-login-logo-text">
				心理健康治疗系统<span> - 开处方系统</span> <i class="am-icon-skyatlas"></i>
				
			</div>
		</div>

		<div class="login-font">
			<i>欢迎使用心理健康治疗系统 </i> 之 <span> 开处方系统</span>
		</div>
		<div class="am-u-sm-10 login-am-center">
			<form class="am-form">
				<fieldset>
					<div class="am-form-group">
						<input id="jobNumber" type="text" class="" id="doc-ipt-email-1" placeholder="输入你的工号">
					</div>
					<div class="am-form-group">
						<input id="userPassword" type="password" class="" id="doc-ipt-pwd-1" placeholder="输入你的密码">
					</div>
					<p><button id="login-btn" type="button" class="am-btn am-btn-default">登录</button></p>
				</fieldset>
				<div class="login-font">
					<i>还没有账号？ </i> 去 <span> <a href="register.html" style="color: #ffffff;text-decoration: underline;">注册</a></span>
				</div>
			</form>
		</div>
	</div>
</div>

  <script src="assets/js/jquery.min.js"></script>
  <script src="assets/js/amazeui.min.js"></script>
  <script src="assets/js/app.js"></script>
  <script src="assets/js/jquery.cookie.js"></script>
  <script src="assets/js/myjs/common.js"></script>
  <script src="assets/js/myjs/login.js"></script>
</body>

</html>