<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>心理健康治疗系统之开处方系统</title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="stylesheet" href="assets/css/amazeui.min.css" />
    <link rel="stylesheet" href="assets/css/admin.css">
    <link rel="stylesheet" href="assets/css/app.css">
    <link rel="stylesheet" href="assets/css/register.css">
</head>

<body data-type="login">

<div class="am-g myapp-login">
    <div class="myapp-login-logo-block  tpl-login-max">
        <div class="myapp-login-logo-text">
            <div class="myapp-login-logo-text">
                心理健康治疗系统<span> - 开处方系统</span> <i class="am-icon-skyatlas"></i>

            </div>
        </div>

        <div class="login-font">
            <i>注册 </i> - <span> 开处方系统</span>
        </div>

        <div class="tpl-block ">
            <div class="am-g tpl-amazeui-form">
                <div class="am-u-sm-12 am-u-md-9">
                    <form class="am-form am-form-horizontal">
                        <div class="am-form-group">
                            <label for="user-name" class="am-u-sm-3 am-form-label">工号ID</label>
                            <div class="am-u-sm-9">
                                <input type="text" id="user-name" placeholder="工号ID / User id">

                            </div>
                        </div>

                        <div class="am-form-group">
                            <label for="user-email" class="am-u-sm-3 am-form-label">姓名</label>
                            <div class="am-u-sm-9">
                                <input type="email" id="user-email" placeholder="姓名 / Name">
                            </div>
                        </div>

                        <div class="am-form-group">
                            <label for="user-phone" class="am-u-sm-3 am-form-label">电话</label>
                            <div class="am-u-sm-9">
                                <input type="tel" id="user-phone" placeholder="输入电话号码 / Telephone">
                            </div>
                        </div>

                        <div class="am-form-group">
                            <label for="user-job" class="am-u-sm-3 am-form-label">邮箱</label>
                            <div class="am-u-sm-9">
                                <input type="text" id="user-job" placeholder="邮箱 / E-mail">
                            </div>
                        </div>

                        <div class="am-form-group">
                            <label for="password" class="am-u-sm-3 am-form-label">密码</label>
                            <div class="am-u-sm-9">
                                <input type="password" id="password" placeholder="密码 / password">
                            </div>
                        </div>

                        <div class="am-form-group">
                            <label for="password" class="am-u-sm-3 am-form-label">确认密码</label>
                            <div class="am-u-sm-9">
                                <input type="password" id="password" placeholder="确认密码 /Confirm password">
                            </div>
                        </div>
                        <div class="am-form-group">
                            <label for="YzCode" class="am-u-sm-3 am-form-label">确认密码</label>
                            <div class="am-u-sm-9">
                                <input type="text" class="tpl-form-input" id="YzCode" placeholder="请输入验证码" style="width: 100px;float: left;margin-right: 20px;border: 1px solid #dddddd;height: 40px;padding-left: 5px">
                                <input type="button" id="sendYzCode" style="height: 40px;" value="点击发送验证码">
                            </div>
                        </div>

                        <div class="am-form-group tpl-login-remember-me">
                            <label for="YzCode" class="am-u-sm-3 am-form-label"></label>
                            <input id="remember-me" type="checkbox">
                            <label for="remember-me">
                                我已阅读并同意 <a href="javascript:;">《用户注册协议》</a>
                            </label>
                        </div>

                        <div class="am-form-group tpl-login-remember-me">
                            <label for="YzCode" class="am-u-sm-3 am-form-label"></label>
                            <button type="button" class="register-btn">注册</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
        <div class="am-u-sm-10 login-am-center">

                <div class="login-font">
                    <i>已有账号 </i> 去 <span><a href="login.html" style="color: #ffffff;text-decoration: underline;"> 登录</a></span>
                </div>
        </div>
    </div>
</div>

<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/amazeui.min.js"></script>
<script src="assets/js/app.js"></script>
</body>

</html>